<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/diliwo/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
        <add key="Username" value="diliwo" />
        <add key="ClearTextPassword" value="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" />
      </github>
  </packageSourceCredentials>
</configuration>